<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>part3-week1</title>
</head>
<body>
    <h1>發表一篇圖文</h1>
    <div>
        <label for="testText">文字內容</label>
        <input type="text" name="simpletext" id="testText">
    </div>
    <div>
        <label for="testFile">圖片檔案</label>
        <input type="file" name="avatar" id="testFile" placeholder="Choose File">
    </div>
    <button id="subBtn">送出</button>
    <hr>
    <div id="add-div"></div>
    <script src="/public/file.js"></script>
</body>
</html>